.cap-decor {
  background: var(--color-black);
  padding-block: var(--section-padding-y);

  &__content {
    display: flex;
    place-content: center center;
  }

  &__image {
    max-width: fluid(788, 290);
  }
}
