.button {
  --padding-buttom-y: #{fluid(15, 12)};
  --padding-buttom-x: #{fluid(16, 14)};

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition-duration: var(--transition-duration);

  &--accent {
    padding: var(--padding-buttom-y) var(--padding-buttom-x);
    color: var(--color-light);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-accent);
    border-radius: var(--border-radius-m);

    @include hover {
      color: var(--color-light);
      background-color: var(--color-hover);
    }

    &:active {
      box-shadow: 0 0 18px 6px rgb(90 46 46 / 100%);
      box-shadow: 0 0 18px 6px rgb(90 46 46 / 100%);
      box-shadow: 0 0 18px 6px rgb(90 46 46 / 100%);
    }
  }

  &--secondary {
    padding: var(--padding-buttom-y) var(--padding-buttom-x);
    border: var(--border);
    border-radius: var(--border-radius-m);
    background-color: transparent;
    color: var(--color-light);
    font-size: 14px;
    font-weight: 500;

    @include hover {
      border: var(--border-main);
    }

    &:active {
      box-shadow: 0 0 18px 6px rgb(90 46 46 / 100%);
      box-shadow: 0 0 18px 6px rgb(90 46 46 / 100%);
      box-shadow: 0 0 18px 6px rgb(90 46 46 / 100%);
    }
  }
}
