:root {
  --color-light: #f9f9f9;
  --color-black: #111;

  --color-font-1: #eaeaea;
  --color-font-2: #7c7777;

  --color-main: #8c6e5a; // Горький кофе
  --color-main-bg: #2c1d17; // Горький кофе
  --color-accent: #c49a6c; // Золотистый латте
  --color-second: #5a4435; // Ровная корка
  --color-gold: #D3AD7F;

  --color-gray-1: #191919;

  --color-hover: #ad825b; // Ореховый крем
  --color-active: #3a2a22; // Тёмный шоколад

  --border: var(--border-width-s) solid var(--color-accent);
  --border-light: var(--border-width-s) solid var(--color-light);
  --border-main: var(--border-width-s) solid var(--color-main);

  --border-width-s: 1px;

  --border-radius-m: 6px;

  --font-family-base: "Poppins", sans-serif;

  --font-famity-title: "BebasNeue", sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(50, 30)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;

  --z-index-slider-pagination: 10;
  --z-index-footer-socials: 20;
  --z-index-questbook: 60;
  --z-index-questbook-active: 70;
  --z-index-scroll-progress: 75;
  --z-index-header: 80;
  --z-index-overlay-menu: 90;
  --z-index-overlay-logo: 95;
  --z-index-overlay-burger: 100;
}
