:root {
  --color-light: #FFFFFF;
  --color-black: #000000;

  --color-font-1: #FAF4EF;
  --color-main: #5C4633;
  --color-accent: #D8A07C;
  --color-second: #9C6B5B;

  --color-hover: #BA8568;
  --color-active: #7C4F3A;

  --border: var(--border-width-s) solid var(--color-accent);
  --border-light: var(--border-width-s) solid var(--color-light);
  --border-main: var(--border-width-s) solid var(--color-main);

  --border-width-s: 1px;

  --border-radius-m: 6px;

  --font-family-base: 'Poppins', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(100, 60)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;

  --z-index-overlay-menu: 90;
  --z-index-overlay-logo: 95;
  --z-index-overlay-burger: 100;
}